extends layout

block content
  form(action='', method='GET')
    table(border='2', cellpadding='8')
      tr
        h3 Class
        td
          input(type='radio', name='class1', value='1')
          | 1
          input(type='radio', name='class1', value='2')
          | 2
        td
          input(type='radio', name='class2', value='None', checked)
          | None

          //- add 9 radio buttons with numbers 1-9
          each index in [1, 2, 3, 4, 5, 6, 7, 8, 9]
            input(type='radio', name='class2', value='#{index}', checked)
            | #{index}

    //- jade loops take (value, key) instead of (key, value)
    each names, title in groups
      div.grouping
        p.grouping-header #{title}
        select(name='Breed1')
          option(value='', selected)
          each name in names
            option(value='#{name}') #{name}

    div.custom-message
      h3 Custom Message
      input(type='text', name='message', value='', maxLength='60')
      input(type='submit', value='Now Showing')
